/* start fontface iran yekan */

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/iranyekan/iranyekanwebbold(fanum).eot");
  src: url("fonts/iranyekan/iranyekanwebbold(fanum).eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("fonts/iranyekan/iranyekanwebbold(fanum).woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/iranyekan/iranyekanwebbold(fanum).woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("fonts/iranyekan/iranyekanwebbold(fanum).ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/iranyekan/iranyekanweblight(fanum).eot");
  src: url("fonts/iranyekan/iranyekanweblight(fanum).eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("fonts/iranyekan/iranyekanweblight(fanum).woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/iranyekan/iranyekanweblight(fanum).woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("fonts/iranyekan/iranyekanweblight(fanum).ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/iranyekan/iranyekanwebregular(fanum).eot");
  src: url("fonts/iranyekan/iranyekanwebregular(fanum).eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("fonts/iranyekan/iranyekanwebregular(fanum).woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("fonts/iranyekan/iranyekanwebregular(fanum).woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("fonts/iranyekan/iranyekanwebregular(fanum).ttf") format("truetype");
}

/* end font face iranyekan */

/* start font face icon */
@font-face {
  font-family: "icons";
  src: url("fonts/icons/itsreza.eot");
  src: url("fonts/icons/itsreza.eot") format("embedded-opentype"),
    url("fonts/icons/itsreza.woff") format("woff"),
    url("fonts/icons/itsreza.ttf") format("truetype"),
    url("fonts/icons/itsreza.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* end font face icon */

body {
  direction: rtl !important;
}

.icons {
  font-family: "icons";
  font-style: normal;
}

.nav {
  font-size: 14px;
  font-family: "iranyekan";
  font-weight: 500;
  padding: 0px;
}

.nav-link {
  color: #000;
  font-size: 13px;
  font-weight: 500;
}

.nav-link:hover {
  color: #e74c3c;
}

.main_navigator a {
  padding: 0.5rem 1rem !important;
}

.category_nav {
  padding: 0;
  margin-top: 2px;
  padding-left: 10px !important;
}

.category_icon {
  padding: 0.5rem 0.6rem !important;
}

.project_request_btn {
  color: #fff;
  background-color: #f55145;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(244, 67, 54, 0.4);
  border-radius: 100px;
  padding: 8px 24px;
  font-size: 13px;
  font-family: "iranyekan";
  font-weight: 400;
  text-decoration: none;
}

.project_request_btn:hover {
  color: #fff;
  text-decoration: none;
}

.request_btn_area {
  padding: 12px 0px;
}

.main_container {
  position: relative;
  height: 70vh !important;
}

.main_navigator {
  padding: 0px !important;
  margin-top: 8px;
}

.section_navs {
  padding: 10px;
}

.category_icon img {
  width: 90%;
}

.social_icon i {
  font-size: 28px;
}

.main_content {
  margin: 0 auto;
  margin-top: 120px;
}

.social_list {
  list-style: none;
}

.social_list a {
  text-decoration: none;
  color: #000;
}

.social_list a:hover {
  color: #000;
  text-decoration: none;
}

.social_item {
  float: left;
  margin-right: 25px;
}

.logo_img {
  text-align: center;
}

.logo_img img {
  width: 110px;
}

.job_position {
  direction: ltr;
  font-family: "Montserrat";
  margin-top: 20px;
}

.job_position h1 {
  font-size: 25px;
}

.sub_position {
  font-family: "Pacifico";
  margin-left: 10px;
}

.monster_description {
  position: absolute;
  min-width: 200px;
  max-width: 400px;
  top: -20px;
  left: 50%;
  transform: translate(-30%, -100%);
  padding: 14px 26px;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  border-radius: 8px;
  position: absolute;
  z-index: 0;
  box-sizing: border-box;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.4);
  background-color: #00cae3;
  font-family: "iranyekan";
  direction: rtl;
}

.monster_description i {
  position: absolute;
  bottom: -15px;
  left: 15%;
  margin-left: -15px;
  width: 30px;
  height: 15px;
  overflow: hidden;
}

.main_content {
  position: relative;
}

.monster_description i::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.4);
  background-color: #00cae3;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes tooltip_animation {
  0% {
  }
  50% {
    top: -40px;
  }
  100% {
  }
}

/* Standard syntax */
@keyframes tooltip_animation {
  0% {
  }
  50% {
    top: -40px;
  }
  100% {
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes tooltip_animation_icon {
  0% {
  }
  50% {
    bottom: 0px;
  }
  100% {
  }
}

/* Standard syntax */
@keyframes tooltip_animation_icon {
  0% {
  }
  50% {
    bottom: 0px;
  }
  100% {
  }
}

.monster_description i::after {
  -webkit-animation-name: tooltip_animation_icon; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: tooltip_animation_icon;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.monster_description {
  -webkit-animation-name: tooltip_animation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: tooltip_animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.main_container {
  background-image: url(images/mainbg.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.ui_container {
  background-image: url(images/mainbg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.mouse_scroll {
  border: 2px solid #222;
  border-radius: 14px;
  display: block;
  height: 37px;
  margin: 0 auto;
  text-align: center;
  width: 24px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 20px;
}

.mouse_scroll::after {
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: #222;
  border-radius: 50%;
  content: "";
  margin-top: 13px;
  -webkit-animation: scroll 3.8s ease-out infinite forwards;
  -moz-animation: scroll 3.8s ease-out infinite forwards;
  animation: scroll 3.8s ease-out infinite forwards;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes scroll {
  0% {
  }
  50% {
    margin-top: 25px;
  }
  100% {
  }
}

/* Standard syntax */
@keyframes scroll {
  0% {
  }
  50% {
    margin-top: 25px;
  }
  100% {
  }
}

.title_area {
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}

.eng_title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: bold;
  width: 600px;
}

.fa_title {
  position: absolute;
  font-size: 20px;
  font-family: iranyekan;
  font-weight: 300;
  width: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title_section {
  text-align: center;
}

.sub_fa_title {
  font-size: 15px;
  font-family: "iranyekan";
  font-weight: 400;
  color: #555;
  text-align: right;
  margin-bottom: 0px;
  padding-top: 8px;
}

.more_archive {
  font-family: "iranyekan";
  font-weight: 100;
  font-size: 13px;
  color: #fff;
  background-color: #f55145;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(244, 67, 54, 0.4);
  padding: 4px 20px;
  border-radius: 50px;
}

.more_archive:hover {
  text-decoration: none;
  color: #fff;
}

.sub_line {
  margin-top: 15px;
  margin-bottom: 0px;
}

.portfolio_container {
  margin-top: 40px;
}

.box {
  padding: 20px 20px;
  position: relative;
}

.post_img {
  width: 100%;
  height: 280px;
  border-radius: 5px 5px 0px 0px;
}

.box_title h2 {
  font-size: 16px;
  text-align: center;
  font-family: "iranyekan";
  color: #555;
}

.box_title {
  padding: 20px 0px;
}

.box_content {
  border-radius: 6px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
}

.box_link:hover {
  text-decoration: none;
}

.icon_type_post {
  position: absolute;
  bottom: -16px;
  font-size: 25px;
  transform: translate(-50%, -50%);
  left: 50%;
  color: #555;
}

.category_icon_post {
  position: absolute;
  top: 10px;
  left: 10px;
}

.section_trends {
  margin-top: 50px;
}

.trends_icon {
  margin-left: 10px;
}

.trends_icon img {
  width: 20px;
}

.trends_img {
  width: 100%;
  height: 135px;
  border-radius: 7px;
}

.trends_row {
  margin-top: 20px;
}

.learn_box {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  float: right;
}

.learn_inner {
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
  transition: all 0.5s ease;
  max-height: 430px;
  height: 430px;
  overflow: hidden;
  position: relative;
}

.learn_header {
  height: 180px;
  border-radius: 15px 15px 0 0;
  transition: all 0.5s ease;
  overflow: hidden;
}

.link_inner {
  display: block;
  position: relative;
  height: 100%;
}

.learn_img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.learn_info {
  padding: 20px 20px 15px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}

.learn_content {
  height: 150px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
}

.learn_title {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 7px;
  font-family: "iranyekan";
  text-align: right;
}

.learn_title:hover {
  text-decoration: none;
}

.learn_description {
  text-align: right;
  font-family: "iranyekan";
  position: relative;
  padding-top: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 12px;
  transition: all 0.5s ease;
  line-height: 24px;
}

.learn_content::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 100%;
  height: 50px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    #fff 100%
  );
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#ffffff',GradientType=0 );
}

.item_info {
  padding-top: 28px;
}

.level_inner {
  font-size: 14px;
  padding-left: 8px;
  text-align: right;
  font-family: "iranyekan";
}

.level_inner span {
  font-size: 13px;
  color: #bbb;
  display: block;
  font-family: "iranyekan";
  text-align: right;
}

.learn_inner:hover .learn_img {
  top: 46%;
}

.price_ticket {
  color: #2ecc71;
}

.category_box {
  text-align: center;
  margin: auto;
}

.category_box i {
  font-size: 22px;
}

.column_6 {
  background: url(images/middlebg.svg) no-repeat center center;
  height: 100%;
  padding: 90px 0;
  position: relative;
}

.section_special {
  margin-top: 50px;
}

.title_scope {
  font-family: "iranyekan";
  font-size: 25px;
  font-weight: 300;
  color: #31576e;
  text-align: right;
  margin-bottom: 18px;
  padding-right: 60px;
}

.span_scope {
  font-family: "iranyekan";
  font-size: 18px;
  color: #31576e;
  font-weight: bold;
  text-align: right;
  margin-bottom: 100px;
  padding-right: 60px;
}

.content_scope {
  text-align: right;
}

.lets_go_span {
  font-family: "iranyekan";
  font-size: 17px;
  color: #2573f0;
  font-weight: 100;
  text-align: center;
  display: block;
}

.start_pro {
  margin-top: 35px;
  text-align: center;
  padding: 12px 40px;
  background-color: #f77970;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(244, 67, 54, 0.64);
  border-radius: 100px;
  color: #fff;
  font-family: "iranyekan";
  font-weight: 100;
}

.start_pro:hover {
  text-decoration: none;
  color: #fff;
}

.button_start {
  text-align: center;
  margin-top: 50px;
}

.puzzle_img {
  width: 100%;
}

.slider_box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: auto;
  text-align: center;
  border-left: 0;
  position: relative;
  margin: 10px;
  overflow: hidden;
  min-height: 320px;
}

.slider_header {
  font-family: "iranyekan";
  font-size: 13px;
  text-align: right;
  font-weight: 300;
  padding: 0px 30px;
  overflow: hidden;
}

.slider_header {
  min-height: 160px;
  border-bottom: 1px solid rgba(185, 180, 180, 0.36);
}

.slider_header p {
  margin-top: 10px;
}

.brand_logo_img {
  width: 130px !important;
  height: 110px;
  margin-top: 15px;
  border-radius: 5px;
}

.brand_name {
  font-family: "iranyekan";
  font-size: 20px;
  color: #333;
}

.category_brand {
  font-size: 13px;
  font-family: "iranyekan";
  font-weight: 100;
  color: #000;
}

.logo_sub {
  margin-top: 40px;
  margin-right: 15px;
  text-align: right;
}

.redirect {
  border-radius: 100px;
  font-family: "iranyekan";
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background: #e74c3c;
  padding: 10px 22px;
}

.button_direct {
  margin-top: 55px;
  margin-left: 20px;
}

.main_slider_item {
  padding: 0px 15px;
}

.owl-carousel {
  margin-top: 40px;
}

.span_right_transparent {
  z-index: 10;
  position: absolute;
  width: 120px;
  height: 380px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.41), #fff);
  right: 0;
}

.span_left_transparent {
  z-index: 10;
  position: absolute;
  width: 120px;
  height: 380px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.41), #fff);
  left: 0;
}

.relative_row {
  position: relative;
}

.sub_main_menu img {
  margin: 0 auto;
}

.title_subpage {
  font-family: iranyekan;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  color: #555;
}

.portfolio_list {
  list-style: none;
  padding: 0;
}

.portfolio_list {
  border-bottom: 1px solid #55555530;
  height: 50px;
}

.port_content {
  padding-right: 50px;
  margin-top: 50px;
}

.portfolio_list li {
  float: right;
  font-family: iranyekan;
  color: #555;
  font-weight: 100;
  padding: 12px 30px;
  /* border-bottom: 2px solid; */
}

.side_bar_title {
  font-family: iranyekan;
  font-weight: normal;
  font-size: 16px;
  text-align: right;
  vertical-align: -webkit-baseline-middle;
  letter-spacing: 0.4px;
}

.side_bar {
  text-align: right;
  margin-top: 5px;
  padding-right: 30px !important;
}

.filter_list {
  list-style: none;
  padding: 0px;
  margin-top: 20px;
}

.filter_list a {
  font-size: 13px;
  font-weight: 500;
  font-family: iranyekan;
  color: #777;
  vertical-align: text-bottom;
}

.filter_list a:hover {
  color: #000;
  text-decoration: none;
  margin-right: 10px;
  transition: ease-in-out 0.5s;
}

.side_bar hr {
  width: 200px;
}

.filter_list li {
  padding: 10px 10px;
}

.filter_list a::before {
  content: "::";
  font-family: "yekan";
  font-size: 14px;
  color: #000;
  float: right;
  letter-spacing: 2px;
  margin-left: 5px;
  font-weight: bold;
}

.post_img_portfolio {
  width: 100%;
  height: 250px;
  border-radius: 5px 5px 0px 0px;
}

.resume_area {
  margin: 0 auto;
}

.header_resume img {
  width: 100%;
}

.header_resume {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.login_button {
  background-color: #151f33;
  border-color: #151f33;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.25rem 15px;
  color: white;
  font-size: 1rem;
  min-width: 85px;
  border-radius: 5px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.register_button {
  color: #ff4232;
  background-color: transparent;
  background-image: none;
  border-color: #ff4232;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #ff4232;
  padding: 0.25rem 15px;
  margin-right: 10px;
  font-size: 1rem;
  min-width: 85px;
  border-radius: 5px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.register_button:hover {
  background-color: #ff4232;
  color: white;
}

.modal-contents {
  position: fixed;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
  outline: 0;
  padding: 20px;
  width: 500px;
  top: 80px;
}

.modal_overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #00000045;
  z-index: 1;
}

.register_title {
  font-family: "iranyekan" !important;
  font-size: 20px;
  margin-top: 20px;
  color: #555;
  text-align: right;
  float: right;
}

.register_sub {
  float: right;
  margin-top: 24px;
  font-family: iranyekan;
  font-size: 12px;
  margin-right: 15px;
}
.login_in_modal {
  font-family: iranyekan;
  margin-top: 13px;
  width: 100px;
}

.register_form {
  margin-top: 25px;
}

.registerEmail {
  float: right;
  font-family: iranyekan;
  font-weight: 400;
  font-size: 13px;
}

.box-input {
  margin-top: 20px;
}

.form-control {
  font-family: iranyekan !important;
  font-size: 15px !important;
  font-weight: 400;
}

.button_signup {
  color: white;
  background-color: #ff4232;
  background-image: none;
  border-color: #ff4232;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #ff4232;
  padding: 0.75rem 15px;
  font-size: 1rem;
  font-family: iranyekan !important;
  min-width: 85px;
  border-radius: 5px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
  width: 100%;
  margin-top: 40px;
}

.modal-hide {
  visibility: hidden;
}

.modal-show {
  visibility: visible;
}

.modal-LoginHide {
  visibility: hidden;
}

.modal-LoginShow {
  visibility: visible;
}

.close_modal {
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.swal-title {
  color: #555;
  font-family: iranyekan;
  font-weight: 600;
}

.swal-button--confirm {
  box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14),
    0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
  background-color: #4caf50;
  font-family: iranyekan;
  font-size: 13px;
  font-weight: 400;
  border: none !important;
}

.swal-button:not([disabled]):hover {
  background-color: #4caf50bf;
}

.swal-text {
  font-family: iranyekan;
}

.ios_emoji {
  font-size: 20px !important;
}

/* .footer{
    position: relative;
}


.footer_img {
    position: absolute;
    right: 0;
    width: 100%;
}


.footer_inner img {
    position: absolute;
    right: 0;
    width: 900px;
} */

.box-password {
  position: relative;
}

.view_password {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.CourseMin {
  display: flex;
}

.error_container {
  padding: 0;
  background: #e2f6fb;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.oops {
  font-family: iranyekan;
  font-size: 40px;
  font-weight: 800;
}

.error_container img {
  width: 725px;
}

.oops_description {
  font-family: iranyekan;
  font-size: 19px;
}
.back_home {
  background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 172, 193, 0.4);

  border: none;
  color: white;
  font-family: iranyekan;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 20px;
  border-radius: 900px;
  text-decoration: none !important;
}

.back_home:hover {
  color: white;
}

.ads_section {
  margin-top: 20px;
  text-align: right;
  font-family: iranyekan;
  font-size: 13px;
}

.min_post_img {
  width: 100%;
  height: 205px;
  border-radius: 5px 5px 0px 0px;
}

.min_box_title {
  padding: 15px 0px;
  text-align: center;
}

.min_box_title h2 {
  font-family: iranyekan;
  font-size: 14px;
  margin-bottom: 0px;
}

.filter_title {
  font-family: iranyekan;
  font-size: 15px;
  text-align: right;
}

.filter_area {
  margin-top: 20px;
}

/* start resumepageStyle */
.header_resume {
  width: 100%;
  height: 400px;
  border-radius: 0 0 50% 50% / 70%;
  background-image: url(images/resume_header.png);
}
.container_resume {
  padding: 0 !important;
  overflow: hidden;
}
.header_area {
  padding: 0 !important;
}

.small_info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  height: 400px;
}
.prof_img {
  width: 75px !important;
  height: 75px;
  border-radius: 100px;
}

.info_desc {
  text-align: right;

  margin-top: 18px;
}

.info_desc h1 {
  font-size: 17px;
  font-family: iranyekan;
  font-weight: bold;
  margin-right: 10px;
  color: white;
}

.info_desc h2 {
  font-size: 13px;
  font-family: iranyekan;
  margin-right: 10px;
  color: white;
  font-weight: 100;
}

.resume_title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 25px;
  text-align: center !important;
}

.blur_info_area {
  width: 300px;
  background-image: url(images/blurs.png);
  padding: 10px 15px;
  border-radius: 7px;
}

.resume_content {
  padding: 20px 20px;
}

.resume_title {
  text-align: left;
}

.wrapper {
  margin: 30px 0px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
  background: white;
  direction: ltr;
  padding: 50px 50px;
  border-radius: 5px;
}

.knowledge_tag {
  float: left;
}

.resume_section {
  background: #f4f9fd;
}

.about_list {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  list-style: none;
  margin-left: 20px;
  margin-top: 20px;
}

.about_list li {
  margin-top: 20px;
}

.welcome_hi {
  width: 400px;
}
.exprience label {
  font-family: "Montserrat";
  font-weight: bold;
}
.green_bar {
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.pad_part {
  padding-left: 40px !important;
}

.exprience {
  font-family: "Montserrat";
  font-weight: 600;
  padding: 0px 35px !important;
}

.label_wrapper {
  font-family: "Montserrat";
  font-weight: bold;
  margin: 20px 0px;
}

.proj_a {
  margin-top: 20px;
}

.skill_box {
  margin-top: 20px;
}

.p_education {
  font-family: "Montserrat";
  font-size: 14px;
}

.know_list {
  font-family: "Montserrat";
  list-style: none;
  margin: 0;
  padding: 0;
}

.know_list label {
  background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 172, 193, 0.4);
  padding: 3.5px 15px;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  font-family: "Montserrat";
}

.logo_company {
  height: 100px;
  width: 100px;
  border-radius: 4px;
}

.work_flow h3 {
  font-size: 14px;
  margin: 0;
}

.work_flow label {
  font-family: "Montserrat";
  font-size: 12px;
}
.project_info {
  font-family: "Montserrat";
  font-size: 14px;
}

.work_box {
  display: flex;
  background: #ececec;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.26);
}

.work_flow {
  margin-left: 15px;
}

.work_flow span {
  font-family: iranyekan;
}

.knowledge_tag {
  margin-right: 10px;
}

/* end resume page style */

.default_ava {
  width: 40px;
  border-radius: 6px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  margin-right: 20px;
}

.loged_in_nav {
  padding-left: 20px;
}

.loged_in_nav {
  cursor: pointer;
}

.dropdown-menu {
  min-width: 12rem !important;
  padding: 0 !important;
  position: absolute;
  top: 50px !important;
  left: 10px !important;
}

.dropdown-item {
  text-align: right !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.drop_user_menu {
  display: none;
}

.loged_in_nav:hover .drop_user_menu {
  display: block;
}

.meta_info {
  color: #f1f1f1;
  padding: 20px 20px;
  border-radius: 5px;

  text-align: right;
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.info_list {
  font-family: iranyekan;
  list-style: none;
  padding: 0;
  margin: 0;

  margin-top: 15px;
}

.info_list li {
  margin-top: 10px;
}

.title_meta {
  font-family: "iranyekan";
  font-weight: 100;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.text_result {
  font-family: iranyekan;
  text-align: justify;
  font-size: 16px;
}
